/*  Clearfix*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

body {
    background-image: url("https://media0.giphy.com/media/bPiLQFMPRIEX6/200.gif");
}

.jumbotron{
    margin-bottom: 0px;
    background-image: url(../images/logo.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: repeat;
    color: yellow;
    text-shadow: black 0.3em 0.3em 0.3em;
    font: #000000 bold;
}

#quiz-area{
background: skyblue;
}

h1{
	color: #000000;
	font: bold;
}

/*html {
  font-size: 14px;
}*/

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

/*.main-container .header-container .header-content .logo {
    background-image: url('//dw91iscgvb0p5.cloudfront.net/assets/data/295_d1c9b0bfb0c1888100a768160a1a9312.png');
}*/